.big-blue-header {
    height: 300px;
    width: 850px;
    background-color:#3578E5;
    margin: 0 auto;
}
.navbar {
    
    height: 45px;
    width: 100%;
    border: 1px solid lightgray;   
    background-color: white; 
    margin: 0 auto;
  
}
.profile-photo {
    height: 160px;
    width: 160px;
    border: 0.5px solid black;
    border-radius: 1.75%;
    background-color: #3578E5;
    position: relative;
    top: 144px;
    left: 20px;
}


body
 {
  box-sizing: border-box;
  background-color:rgb(195, 198, 202)
}


.header2 {
    margin-left: 190px;
    color: whitesmoke;
 

}

    
.Nav-list {
        float: left;    
        /* padding: 5px 1px 5px 15px; */
        margin-left: 20px;
        
        list-style: none;
        position: relative;
        left: 150px;
        } 
   
        .column1 {
            width: 312px;
            height: 400px;
            /* padding: 10px; */
            margin: 15px 5px 10px 5px;
            border: 1px solid crimson;
            background-color: white;
            float: left;
            position: relative;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            text-align: center;
          }
          .div2 {
            position: relative;
            background-color: blue;
            top: 10px;
            left: 10px;
            margin-top: 20px;
            margin-left: 0px;
        }
         .div3 {
            position: relative;
            background-color:blue;
            top: 10px;
            left: 10px;
            margin-top: -140px;
            margin-left: 32px;
        }



/* interior continer friends list */

 
.interior   {
    width: 100%;
    height: 110%;
    border: 0px solid white;
}
.div1 {
    position: relative;
    background-color: blue;
    top: 10px;
    left: 10px;
    
}
.div2 {
    position: relative;
    background-color: blue;
    top: 10px;
    left: 10px;
    margin-top: 20px;
    margin-left: 0px;
}
 .div3 {
    position: relative;
    background-color:blue;
    top: 10px;
    left: 10px;
    margin-top: -240px;
    margin-left: 132px;
}
.div4 {
    position: relative;
    background-color:blue;
    top: 10px;
    left: 10px;
    margin-top: 20px;
    margin-left: 132px;
}


          /* .friends-list {
            
            border: 1px solid black;
            height: 60px;
            width: 60px;
            border-radius: 1.75%;
            background-color: #3578E5;
            position: relative;
         top: 144px;
            left: 20px;
          } */


.one {
    float: left;
    border: 1px solid black;
    height: 60px;
    width: 70%;
    border-radius: 1.75%;
    background-color: #3578E5;
    position: relative;
    top: 44px;
    left: 20px;
    margin-top: -35px;
			margin-left: 55px;
}
.two {
    float: right;
    border: 1px solid black;
    height: 60px;
    width: 60%;
    border-radius: 1.75%;
    background-color: #3578E5;
    position: relative;
     top: 144px;
    left: 20px;
    margin-top: -55px;
			margin-left: 105px;
}

          .column2 {
            float: right;
            position: relative;
            width: 528px;
            height: 400px;
            background-color: white;
            /* padding: 10px; */
            margin: 15px 5px 10px 5px;
            border: 1px solid crimson;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            text-align: center;
         }


         /*  this is new stuff from afternoon class-- */

.header-button { 
    float: right;
    position: relative;
    /* margin-top: 5px; */
}

main {
    border: 1px dotted black;
    height:2000px;
    width: 850px;
    margin: 0 auto;
    margin-top: 25px;
  
}
    .column1 {
        width: 302px;
        height: 2000px;
        border:  5px dotted brown;
        float: left;
        margin: 0 auto;
    }
    .column2 {
        width: 518px;
        height: 2000px;
        border:  5px dotted blue;
        float: right;
     margin: 0 auto;
    }

